body{
    margin-top: 0px;
}

#wrapper{
    padding-left: 0px;
}

#page-wrapper{
    margin-top: 95px;
}

.navbar-header{
    width: 100%;
}

#header{
    /*background: #004B99;*/
    padding-left: 35px;
}

#barbotStatusContainer{
    float: right;
    right: 25px;
    top: 20px;
    position: absolute;
    font-size: 25px;
}

/*#barbotStatus{
    
}*/

#header h1{
    bottom: 0px;
    position: absolute;
    left: 100px;
    margin-bottom: 8px;
}

#logoContainer{
    /*background: black;*/
    /*border-radius: 5px;*/
    width: 50px;
    height: 60px;
    padding-top: 6px;
    align-content: center;
    text-align: center;
    float: left;
    margin: 5px;
    margin-right: 10px;
}

#logoContainer img{
    max-height: 50px;
}

.panel-primary{
    border-color: #004B99;
}

.panel-primary > .panel-heading{
    background-color: #004B99;
    border-color: #004B99;
}

#ingredientLevelPanel{
    height: 600px;
    /*border: 1px solid green;*/
    position: relative;
}

.panel-title{
    font-size: 18px;
}

.ingredientLevelRow{
    display: flex;
    /*border: 1px solid white;*/
    position: relative;
    height: 25%;
}

.ingredientLevelContainer{
    width: 25%;
    height: 100%;
    position: relative;
    padding: 5px;
    /*border: 1px solid red;*/
}

.ingredientLevelMax{
    color: white;
    background: #615F5F;
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    width: 100%;
    position: relative;
}

.ingredientLevel{
    background: #004B99;
    bottom: 0px;
    height: 50%;
    width: 100%;
    position: absolute;
    border-radius: 10px 10px 0px 0px;
    /*box-shadow: inset 0px 5px 20px 1px rgba(255,255,255,.35);*/
    box-shadow: inset 0px 5px 11px 1px rgba(0,0,0,0.25);
}

.ingredientInfo{
    position: absolute;
    z-index: 15;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    text-align: center;
    bottom: 0px;
    color: black;
    text-shadow: 1px 1px 2px white;
}

.ingredientName{
    text-align: center;
    font-size: 20px;
    position: relative;
    z-index: 2;
}

.ingredientLevel.changing {
    /*box-shadow: 0px 0px 20px 10px rgba(215, 215, 255, 0.75);*/
    box-shadow: 0px 0px 15px 8px rgba(215, 215, 255, 0.75);
}

.orderEntry{
    background: #615F5F;
    margin-bottom: 8px;
    padding: 4px;
    border-radius: 3px;
}

#orderFeed{
    overflow-y: auto;
    height: 100%;
}

.orderUser, .orderDate {
    color: #4EA5FF;
    font-size: 16px;
}

.orderDrink{
    color: #44FF44;
    font-size: 16px;
}

.metric{
    margin-bottom: 15px;
}

.metricTitle{
    font-size: 16px;
}

.metricContent{
    font-size: 24px;
}