<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost/barbotdb</property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQL5Dialect
        </property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="barbot.database.model.Barbot"/>
        <mapping class="barbot.database.model.BarbotContainer"/>
        <mapping class="barbot.database.model.BarbotIoDevice"/>
        <mapping class="barbot.database.model.BarbotIoDeviceType"/>
        <mapping class="barbot.database.model.BarbotPump"/>
        <mapping class="barbot.database.model.DrinkOrder"/>
        <mapping class="barbot.database.model.Ingredient"/>
        <mapping class="barbot.database.model.Migration"/>
        <mapping class="barbot.database.model.Recipe"/>
        <mapping class="barbot.database.model.RecipeIngredient"/>
        <mapping class="barbot.database.model.User"/>
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>