<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/barbot</property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- <property name="connection.password"/> -->
        <mapping class="barbot.database.model.BarbotContainers"/>
        <mapping class="barbot.database.model.BarbotIoDeviceTypes"/>
        <mapping class="barbot.database.model.BarbotIoDevices"/>
        <mapping class="barbot.database.model.BarbotPumps"/>
        <mapping class="barbot.database.model.Barbots"/>
        <mapping class="barbot.database.model.DrinkOrders"/>
        <mapping class="barbot.database.model.Ingredients"/>
        <mapping class="barbot.database.model.Recipes"/>
        <mapping class="barbot.database.model.Users"/>
        <mapping class="barbot.database.model.Migrations"/>
        <mapping class="barbot.database.model.RecipeIngredient"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>