<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BarBot | Full Service Cocktail Machine</title>
    
    <link rel="stylesheet" href="app/app.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.js"></script>
    <script src="app/app.js"></script>
    <script src="anus.js"></script>
    <script src="app/header/templates/header.directive.js"></script>
    <script src="app/header/header.service.js"></script>
    <script src="anus.js"></script>
</head>
<body ng-app="barbot" ng-controller="MainController">
    <h1>Meet BarBot!</h1>
    
    <div class="anus-counter" ng-click="anusCounter()">{{anus}}</div>

    

    <div style="background:pink;" ng-repeat="anus in anusArray">
        {{anus}}
    </div>

    {{test}}

    <anus>
</body>
</html>